@import url(./vendor/normalize.css);
@import url(./vendor/vendors/stylesheet.css);

.page{
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0 auto;
    max-width: 1920px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.banner{
    background: url("./images/banner/banner.png");
    height: 830px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 12% 0 12%;
    width: calc(100% - 24%);
}

.header{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header__logo{
    width: 316px;
    margin-top: 8px;
}

.header__menu{
    margin-top: 34px;
}

.header__mob{
    display: none;
}

.header__link{
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.7;
    margin-right: 32px;
}

.header__link_active{
    text-shadow: 1px 1px #000000, 1px -1px #000000, -1px 1px #000000, -1px -1px #000000;
    border-bottom: 3px solid #fff;
    padding-bottom: 8px;
}

.header__contact{
    width: 130px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: transparent;
    margin: 0 32px;
}

.header__lang{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
}

.banner__title{
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 88px 0 24px 0;
    width: 823px;
}

.banner__subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #D5EEFB;
    margin: 0;
}

.banner__icons{
    margin: 40px 0 119px 0;
}

.banner__icon{
    width: 88px;
    margin-right: 24px;
}

.banner__buy{
    width: 150px;
    height: 50px;
    background: #D29029;
    border: 2px solid #D29029;
    box-sizing: border-box;
    border-radius: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.benefit{
    margin-top: 51px;
}

.benefit__title{
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 90px;
    text-align: center;
    color: #136470;
    margin: 0 auto 0 auto;
    text-transform: uppercase;
    max-width: 1200px;
}

.benefit__subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #364C4F;
    margin: 24px auto 60px auto;
    max-width: 1200px;
}

.benefit__lists{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.benefit__container{
    margin-left: 90px;
}

.benefit__container-first{
    margin-left: 0px;
}

.benefit__block{
    max-width: 420px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.benefit__image{
    width: 80px;
    margin-right: 40px;
}

.benefit__text{
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #136470;
}

.benefit__dots{
    display: none;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 8px auto 32px auto;
}
.benefit__dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #389EAD;
    opacity: 0.4;
    margin-right: 12px;
}

.benefit__dot_activ{
    opacity: 1;
}

.benefit__banner{
    background: url("./images/benefit/benefit-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 100%;
    width: 100%;
    height: 656px;
}

.product{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__cards{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 1440px;    
}

.product__card{
    width: 480px;
    height: 776px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.product__car-one{
    background: url("./images/product/image-bios.png");
}

.product__car-two{
    background: url("./images/product/image-milk.png");
}

.product__car-three{
    background: url("./images/product/image-peanut.png");
}

.product__text{
    margin-bottom: 60px;
    text-align: center;
    max-width: 320px;
}

.product__title{
    margin: 0 0 12px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #364C4F;
}

.prouct__line{
    border: 1px solid #FFFFFF;
    width: 100%;
}

.product__subtitle{
    margin: 16px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #364C4F;
}

.product__subtitle-volume{
    margin: 8px 0 0 0;
    text-transform: lowercase;
}

.product__but{
    margin-top: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    margin-right: 15px;
}

.product__but-right{
    margin-right: 0px;
}

.product__mob{
    width: 40px;
    height: 40px;
    position: absolute;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    display: none;
}

.product__mob-left{
    background-image: url("./images/product/arrow-left.png");
    left: 3%;
    top: 50%;
}

.product__mob-right{
    background-image: url("./images/product/arrow-right.png");
    right: 3%;
    top: 50%;
}

.production{
    margin-top: 120px;
}
.production__mission{
    margin: 0 auto 30px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #136470;
}

.production__blocks{
    display: flex;
    margin-top: 52px;
    height: 750px;
}

.production__block-left{
    width: calc(50% - 6.3% - 12.5%);
    background: #D5EEFB;
    padding: 110px 6.3% 110px 12.5%;
    height: 530px;
}

.production__title{
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
    color: #136470;
    margin: 0;
}

.production__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #364C4F;
    margin: 40px 0 40px 0;
}

.production__block-right{
    width: 50%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.production__inform{
    background-color: rgba(19, 100, 112, .6);
    padding: 50px;
    width: 440px;
    height: 450px;
}

.production__block-farm{
    background: url("./images/production/production-farm.png");
    display: none;
}

.production__block-island{
    background: url("./images/production/prodaction-island.png");
    display: none;
}

.production__block-beach{
    background: url("./images/production/prodaction-beach.png");
    /* display: none; */
}

.production__dots{
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.production__dot{
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    opacity: 0.4;
    border-radius: 50%;
    margin-right: 10px;
}

.production__dot_activ{
    background: #389EAD;
    opacity: 1;
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
    .banner {
        height: 700px;
    }
    .banner__title{
        font-size: 52px;
        line-height: 60px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 44px 0 18px 0;
        width: 675px;
    }

    .banner__subtitle{
        font-size: 18px;
        line-height: 30px;
        color: #D5EEFB;
        margin: 0;
    }

    .banner__icons{
        margin: 20px 0 100px 0;
    }

    .banner__icon{
        width: 78px;
        margin-right: 20px;
    }

    .benefit__banner{
        height: 446px;
    }

    .product__cards {
        max-width: 1280px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .header__logo{
        width: 223px;
    }
    .banner{
        padding: 0 7% 0 7%;
        width: calc(100% - 14%);
        background-size: cover;
        background-position: bottom;
        height: 450px;
    }
    
    .banner__title{
        font-size: 32px;
        line-height: 40px;
        margin: 44px 0 6px 0;
        width: 555px;
    }

    .banner__subtitle{
        font-size: 16px;
        line-height: 24px;
    }

    .banner__icons{
        margin: 20px 0 45px 0;
    }

    .banner__icon{
        width: 60px;
        margin-right: 20px;
    }

    .benefit__lists {
        padding: 0 7% 0 7%;
    }

    .benefit__text {
        font-size: 12px;
    }
    .benefit__banner{
        height: 446px;
    }

    .product{
        margin-top: 75px;
    }

    .benefit__subtitle {
        margin: 24px 5% 60px 5%;
    }

    .product__cards {
        max-width: 1024px;
    }
    .product__car-three{
        display: none;
    }
    .product__mob{
        display: block;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__menu {
        margin-top: 14px;
    }

    .header__link {
        font-size: 12px;
        margin-right: 10px;
    }

    .header__link_active {
        border-bottom: 2px solid #fff;
        padding-bottom: 2px;
    }

    .header__logo{
        width: 177px;
    }

    .header__contact {
        width: 110px;
        height: 30px;
        font-size: 12px;
        line-height: 15px;
    }

    .header__lang {
        font-size: 12px;
        line-height: 15px;
    }

    .banner{
        height: 450px;
        padding: 0 5% 0 5%;
        width: calc(100% - 10%);
        background-size: cover;
        background-position: bottom;
    }
    
    .banner__title {
        font-size: 29px;
        line-height: 34px;
        margin: 24px 0 6px 0;
        width: 500px;
    }

    .banner__subtitle{
        font-size: 14px;
        line-height: 20px;
        color: #D5EEFB;
        margin: 0;
    }

    .banner__icons{
        margin: 10px 0 45px 0;
    }

    .banner__icon{
        width: 40px;
        margin-right: 15px;
    }

    .banner__buy {
        width: 130px;
        height: 40px;
        font-size: 12px;
    }

    .benefit__title {
        font-size: 36px;
        line-height: 133%;
    }
    
    .benefit__subtitle {
        font-size: 18px;
        margin: 24px auto 32px auto;
    }
    .benefit__lists {
        padding: 0 7% 0 7%;
    }

    .benefit__text {
        font-size: 12px;
    }
    .benefit__container {
        margin-left: 20px;
    }
    .benefit__block {
        margin-bottom: 20px;
    }
    .benefit__image {
        width: 50px;
        margin-right: 20px;
    }
    .benefit__banner {
        height: 326px;
    }

    .product__car-two{
        display: none;
    }
    .product__car-three{
        display: none;
    }
    .product{
        margin-top: 75px;
    }

    .benefit__subtitle {
        margin: 24px 5% 60px 5%;
    }

    .product__cards {
        max-width: 768px;
    }
    .product__mob{
        display: block;
    }
}

/* @media screen and (min-width: 426px) and (max-width: 767px) {
    .banner{
        height: 530px;
        padding: 0 8px 0 8px;
        background-size: cover;
        background-position-x: 83%;
        width: auto;
    }

    .header{
        align-items: center;
    }

    .banner__title {
        font-size: 22px;
        line-height: 30px;
        margin: 18px 0 14px 0;
        width: 100%;
    }

    .banner__subtitle {
        font-size: 17px;
        line-height: 31px;
    }

    .banner__icons {
        margin: 11px 0 194px 0;
        width: 40%;
    }
    
    .banner__icon{
        width: 48px;
        margin-right: 10px;
    }

    .header__menu{
        opacity: 0;
        margin: 0;
        display: none;
    }

    .header__mob{
        display: block;
    }

    .header__logo{
        width: 90px;
    }

    .header__mob{
        display: block;
        display: flex;
        margin-top: 8px;
    }

    .header__mob-coll{
        background-image: url(./images/call.png);
        width: 36px;
        height: 36px;
    }

    .header__mob-menu{
        background-image: url(./images/menu.png);
        width: 36px;
        height: 36px;

    }
} */

@media screen and (max-width: 767px) {
    .banner {
        background: url("./images/banner/banner-mob.png");
        height: 530px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        padding: 0 8px 0 8px;
        width: calc(100% - 16px);
    }

    .header{
        align-items: center;
    }

    .header__menu{
        opacity: 0;
        margin: 0;
        display: none;
    }

    .header__mob{
        display: block;
    }

    .header__logo{
        width: 125px;
    }

    .header__mob{
        display: block;
        display: flex;
        margin-top: 8px;
    }

    .header__mob-coll{
        background-image: url("./images/call.png");
        width: 36px;
        height: 36px;
    }

    .header__mob-menu{
        background-image: url("./images/menu.png");
        width: 36px;
        height: 36px;
    }

    .banner__title{
        font-size: 21px;
        line-height: 30px;
        text-transform: uppercase;
        margin: 32px 0 12px 0;
        width: auto;
        text-align: center;
    }

    .banner__subtitle{
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }

    .banner__icons{
        margin: 24px 0 229px 0;
        text-align: center;
    }

    .banner__icon{
        width: 48px;
        margin-right: 8px;
    }

    .banner__buy{
        width: 130px;
        height: 40px;
        font-size: 12px;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .benefit__title {
        font-size: 24px;
        line-height: 133%;
        margin: 0 5% 0 5%;
    }
    .benefit__subtitle {
        font-size: 12px;
        margin: 12px 5% 32px 5%;
    }
    .benefit__container{
        display: none;
    }
    
    .benefit__container-first{
        margin-left: 0px;
        display: block;
    }

    .benefit__block{
        margin-bottom: 16px;
    }

    .benefit__lists{
        padding: 0 8% 0 8%;
        margin: 0;
    }

    .benefit__image{
        width: 48px;
        margin-right: 12px;
    }

    .benefit__text{
        font-size: 10px;
        line-height: 160%;
    }

    .benefit__dots{
        display: flex;
    }
    
    .benefit__banner{
        background: url("./images/benefit/benefit-banner-mob.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 100%;
        width: 100%;
        height: 187px;
    }

    .product__car-one{
        background: url("./images/product/image-bios-mob.png");
    }

    .product__car-two{
        background: url("./images/product/image-milk-mob.png");
        display: none;
    }
    .product__car-three{
        background: url("./images/product/image-peanut-mob.png");
        display: none;
    }
    .product{
        margin-top: 60px;
    }

    .product__cards {
        max-width: 320px;
    }
    .product__mob{
        display: block;
    }

    .product__card {
        width: 320px;
        height: 517px;
    }

    .product__text{
        margin-bottom: 40px;
    }

    .product__title{
        margin: 0 auto 8px auto;
        font-size: 24px;
        line-height: 30px;
        max-width: 213px;
    }

    .prouct__line{
        width: 213px;
        margin: auto;
    }

    .product__subtitle{
        margin: 10px auto 0 auto;
        font-size: 10px;
        line-height: 13px;
        max-width: 213px;
    }

    .product__subtitle-volume{
        margin: 5px auto 0 auto;
    }
    
    .product__but{
        margin-top: 13px;
        font-size: 12px;
        line-height: 16px;
        border: 1.5px solid #FFFFFF;
        border-radius: 20px;
        width: 130px;
        height: 40px;
        margin-right: 12px;
    }
    .product__but-right{
        margin-right: 0px;
    }
    
}