@import url(./vendor/normalize.css);
@import url(./vendor/vendors/stylesheet.css);

.page{
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0 auto;
    max-width: 1920px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.banner{
    background: url(./images/banner.png);
    height: 830px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 12% 0 12%;
    width: calc(100% - 24%);
}

.header{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header__logo{
    width: 316px;
    margin-top: 8px;
}

.header__menu{
    margin-top: 34px;
}

.header__mob{
    display: none;
}

.header__link{
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.7;
    margin-right: 32px;
}

.header__link_active{
    text-shadow: 1px 1px #000000, 1px -1px #000000, -1px 1px #000000, -1px -1px #000000;
    border-bottom: 3px solid #fff;
    padding-bottom: 8px;
}

.header__contact{
    width: 130px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: transparent;
    margin: 0 32px;
}

.header__lang{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
}

.banner__title{
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 88px 0 24px 0;
    width: 823px;
}

.banner__subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #D5EEFB;
    margin: 0;
}

.banner__icons{
    margin: 40px 0 119px 0;
}

.banner__icon{
    width: 88px;
    margin-right: 24px;
}

.banner__buy{
    width: 150px;
    height: 50px;
    background: #D29029;
    border: 2px solid #D29029;
    box-sizing: border-box;
    border-radius: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.benefit{
    margin-top: 51px;
}

.benefit__title{
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 90px;
    text-align: center;
    color: #136470;
    margin: 0 auto 0 auto;
}

.benefit__subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #364C4F;
    margin: 24px auto 60px auto;
    max-width: 1200px;
}

.benefit__lists{
    list-style: none;
    display: flex;
    justify-content: center;
}

.benefit__container{
    margin-left: 90px;
}

.benefit__container-first{
    margin-left: 0px;
}

.benefit__block{
    max-width: 420px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.benefit__image{
    width: 80px;
    margin-right: 40px;
}

.benefit__text{
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #136470;
}

.benefit__banner{
    width: 100%;
}


@media screen and (min-width: 1281px) and (max-width: 1600px) {
    .banner__title{
        font-size: 52px;
        line-height: 60px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 44px 0 18px 0;
        width: 675px;
    }

    .banner__subtitle{
        font-size: 18px;
        line-height: 30px;
        color: #D5EEFB;
        margin: 0;
    }

    .banner__icons{
        margin: 20px 0 100px 0;
    }

    .banner__icon{
        width: 78px;
        margin-right: 20px;
    }

    
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .header__logo{
        width: 223px;
    }
    .banner{
        padding: 0 7% 0 7%;
        width: calc(100% - 14%);
    }
    
    .banner__title{
        font-size: 32px;
        line-height: 40px;
        margin: 44px 0 6px 0;
        width: 555px;
    }

    .banner__subtitle{
        font-size: 16px;
        line-height: 24px;
    }

    .banner__icons{
        margin: 20px 0 45px 0;
    }

    .banner__icon{
        width: 60px;
        margin-right: 20px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__menu {
        margin-top: 14px;
    }

    .header__link {
        font-size: 12px;
        margin-right: 10px;
    }

    .header__link_active {
        border-bottom: 2px solid #fff;
        padding-bottom: 2px;
    }

    .header__logo{
        width: 177px;
    }

    .header__contact {
        width: 110px;
        height: 30px;
        font-size: 12px;
        line-height: 15px;
    }

    .header__lang {
        font-size: 12px;
        line-height: 15px;
    }

    .banner{
        height: 500px;
        padding: 0 5% 0 5%;
        width: calc(100% - 10%);
    }
    
    .banner__title {
        font-size: 29px;
        line-height: 34px;
        margin: 24px 0 6px 0;
        width: 500px;
    }

    .banner__subtitle{
        font-size: 14px;
        line-height: 20px;
        color: #D5EEFB;
        margin: 0;
    }

    .banner__icons{
        margin: 10px 0 45px 0;
    }

    .banner__icon{
        width: 40px;
        margin-right: 15px;
    }

    .banner__buy {
        width: 130px;
        height: 40px;
        font-size: 12px;
    }
    
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .banner{
        height: 530px;
        padding: 0 8px 0 8px;
        background-size: cover;
        background-position-x: 83%;
        width: auto;
    }

    .header{
        align-items: center;
    }

    .banner__title {
        font-size: 22px;
        line-height: 30px;
        margin: 18px 0 14px 0;
        width: 100%;
    }

    .banner__subtitle {
        font-size: 17px;
        line-height: 31px;
    }

    .banner__icons {
        margin: 11px 0 194px 0;
        width: 40%;
    }
    
    .banner__icon{
        width: 48px;
        margin-right: 10px;
    }

    .header__menu{
        opacity: 0;
        margin: 0;
        display: none;
    }

    .header__mob{
        display: block;
    }

    .header__logo{
        width: 90px;
    }

    .header__mob{
        display: block;
        display: flex;
        margin-top: 8px;
    }

    .header__mob-coll{
        background-image: url(./images/call.png);
        width: 36px;
        height: 36px;
    }

    .header__mob-menu{
        background-image: url(./images/menu.png);
        width: 36px;
        height: 36px;

    }
}

@media screen and (max-width: 425px) {
    .banner {
        background: url(./images/banner-mob.png);
        height: 530px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        padding: 0 8px 0 8px;
        width: calc(100% - 16px);
    }

    .header{
        align-items: center;
    }

    .header__menu{
        opacity: 0;
        margin: 0;
        display: none;
    }

    .header__mob{
        display: block;
    }

    .header__logo{
        width: 125px;
    }

    .header__mob{
        display: block;
        display: flex;
        margin-top: 8px;
    }

    .header__mob-coll{
        background-image: url(./images/call.png);
        width: 36px;
        height: 36px;
    }

    .header__mob-menu{
        background-image: url(./images/menu.png);
        width: 36px;
        height: 36px;
    }

    .banner__title{
        font-size: 21px;
        line-height: 30px;
        text-transform: uppercase;
        margin: 32px 0 12px 0;
        width: auto;
        text-align: center;
    }

    .banner__subtitle{
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }

    .banner__icons{
        margin: 24px 0 229px 0;
        text-align: center;
    }

    .banner__icon{
        width: 48px;
        margin-right: 8px;
    }

    .banner__buy{
        width: 130px;
        height: 40px;
        font-size: 12px;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
}